In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

In [11]:
#datasets/NJ_CO_site_003.csv    datasets/NJ_NO2_site_0011.csv  datasets/NJ_Ozone_site_003.csv

df_oz= pd.read_csv('./datasets/NJ_Ozone_site_003.csv') # data from 2009 to 2020-5-24
#df_oz= pd.read_csv('./datasets/NJ_Ozone_site_.csv')
#NJ_Ozone_site_.csv
df_oz.columns
cols_to_drop = ['Source', 'Site ID', 'POC','UNITS', 'Site Name', 'DAILY_OBS_COUNT', 'PERCENT_COMPLETE',
                'AQS_PARAMETER_CODE', 'AQS_PARAMETER_DESC', 'CBSA_CODE', 'CBSA_NAME', 'STATE_CODE', 'STATE',
                'COUNTY_CODE', 'COUNTY', 'SITE_LATITUDE','SITE_LONGITUDE']

df_oz  = df_oz.drop(columns=cols_to_drop)
df_oz.Date = pd.to_datetime(df_oz.Date)
df_oz.tail(2)

           Date  Daily Max 8-hour Ozone Concentration  DAILY_AQI_VALUE
3929 2020-05-23                                 0.035               32
3930 2020-05-24                                 0.038               35

In [12]:
# Checking for missing dates
df_tmp = df_oz.set_index('Date') # the following command requires to have a index set to Date column
missing_dates = pd.date_range(df_tmp.index.min(), df_tmp.index.max()).difference(df_tmp.index)
print (missing_dates)
print ('There are total : %d number of missing dates in the dataset.' %len(missing_dates))

DatetimeIndex(['2009-09-02', '2009-10-04', '2009-10-05', '2009-11-30',
               '2009-12-02', '2009-12-31', '2010-01-27', '2010-02-16',
               '2010-05-03', '2010-05-04', '2010-05-05', '2010-05-13',
               '2010-05-14', '2010-05-15', '2010-05-16', '2010-12-31',
               '2011-07-23', '2011-07-24', '2011-07-25', '2011-08-26',
               '2011-08-27', '2011-08-28', '2011-12-31', '2012-04-22',
               '2012-05-06', '2012-05-27', '2012-10-29', '2012-10-30',
               '2012-12-31', '2013-02-25', '2013-03-11', '2013-03-24',
               '2013-08-21', '2013-11-20', '2013-12-31', '2014-02-21',
               '2014-02-22', '2014-05-16', '2014-05-17', '2014-05-18',
               '2014-12-02', '2014-12-31', '2015-02-26', '2015-10-07',
               '2015-10-08', '2015-12-31', '2016-02-15', '2016-03-02',
               '2016-03-04', '2016-03-05', '2016-03-06', '2016-03-07',
               '2016-03-12', '2016-03-13', '2016-03-14', '2016-11-30',
               '2016-12-31', '2017-01-31', '2017-04-01', '2017-06-17',
               '2017-06-18', '2017-06-19', '2017-06-27', '2017-09-26',
               '2017-10-24', '2017-10-30', '2017-12-31', '2018-01-22',
               '2018-07-01', '2018-10-12', '2018-10-13', '2018-10-14',
               '2018-10-30', '2018-12-31', '2019-02-11', '2019-03-11',
               '2019-04-08', '2019-11-18', '2020-03-19', '2020-03-20'],
              dtype='datetime64[ns]', freq=None)
There are total : 80 number of missing dates in the dataset.

In [13]:
# first set the index as Date
df_oz = df_oz.set_index('Date')
# insert all the missing dates with Nans
df_oz = df_oz.reindex(  pd.date_range(df_oz.index.min(), df_oz.index.max())  ) 
# fill those missing dates with the last known date
df_oz.ffill(axis=0, inplace=True)  
# Now move the Date index as one of the columns, easier for later analysis
df_oz = df_oz.rename_axis('Date').reset_index()  
df_oz.head(2)

        Date  Daily Max 8-hour Ozone Concentration  DAILY_AQI_VALUE
0 2009-06-01                                 0.043             40.0
1 2009-06-02                                 0.044             41.0

In [14]:
# check if there are any null value
df_oz.isnull().any()

Date                                    False
Daily Max 8-hour Ozone Concentration    False
DAILY_AQI_VALUE                         False
dtype: bool